REACT_APP_FACEBOOK_APP_ID=
REACT_APP_GOOGLE_CLIENT_SECRET=
REACT_APP_GRAPHQL_URI=
REACT_APP_GOOGLE_CLIENT_SECRET=
REACT_APP_GITHUB_CLIENT_ID=
REACT_APP_GITHUB_CLIENT_SECRET=
REACT_APP_GITHUB_REDIRECT_URI=